@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: #333333;
  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(92% 0.003 48.717);
  --color-secondary: oklch(85% 0.199 91.936);
  --color-secondary-content: oklch(28% 0.066 53.813);
  --color-accent: #f39c12;
  --color-accent-content: oklch(28% 0.066 53.813);
  --color-neutral: oklch(21% 0.006 56.043);
  --color-neutral-content: oklch(96% 0.003 264.542);
  --color-info: oklch(85% 0.138 181.071);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(92% 0 0);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(20% 0 0);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}
